---
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nicole Tevez | Portfolio">
  <Hero />
  <div class="container">
    <About />
    <Experience />
  </div>
</Layout>

<style>
  .container {
    background-image: linear-gradient(to bottom, #181818, #272727);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
