---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nicole Tevez | Portfolio">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
  }
</style>
