---
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nicole Tevez | Portfolio">
  <Hero />
  <div class="container">
    <About />
    <Experience />
    <Projects />
    <Skills />
  </div>
</Layout>

<style>
  .container {
    background-image: linear-gradient(
      to bottom,
      #181818,
      #282828,
      #161616,
      #111111
    );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
