---
import avatar from "../assets/Nicole_Tevez_Avatar.png";
import github from "../assets/github.png";
import linkedin from "../assets/linkedin.png";
import Label from "../layouts/Label.astro";
---

<section id="about-me" class="about section-margin">
  <div class="image-container">
    <img class="avatar" src={avatar.src} width="200px" height="200px" />
    <div class="contact">
      <a href="https://github.com/naniitevez" title="GitHub" target="_blank"
        ><img src={github.src} width="25px" height="25px" /></a
      >
      <a
        href="https://www.linkedin.com/in/nicoletevez/"
        title="LinkedIn"
        target="_blank"><img src={linkedin.src} width="25px" height="25px" /></a
      >
    </div>
  </div>
  <div class="text-container">
    <Label text="Sobre mi" />
    <p class="about-me">
      Soy una apasionada <span class="strong">desarrolladora frontend</span> con
      casi tres a침os de experiencia en la industria del <span class="strong"
        >comercio electr칩nico</span
      >.
    </p>
    <p class="about-me">
      Mi enfoque se centra en el <span class="strong">dise침o</span> y <span
        class="strong">maquetado</span
      > de interfaces de usuario atractivas y funcionales.
    </p>
    <p class="about-me">
      A lo largo de mi carrera, he cultivado habilidades <span class="strong"
        >autodidactas</span
      > que me han permitido destacar en la creaci칩n de experiencias visuales cautivadoras
      para los usuarios.
    </p>
  </div>
</section>

<style>
  .about {
    display: flex;
  }
  .image-container,
  .text-container {
    flex-direction: column;
  }
  .image-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      var(--primary-black),
      var(--primary-darkest-color)
    );
    border: 1px solid var(--primary-darkest-color);
    border-radius: 50%;
  }
  .avatar {
    border-radius: 50%;
  }
  .about-me {
    font-size: 18px;
  }
  .strong {
    color: var(--primary-color);
  }
  .contact {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    padding: 6px 15px;
    background-image: linear-gradient(
      to right,
      var(--primary-black),
      var(--primary-darkest-color),
      var(--primary-color)
    );
    opacity: 0.9;
    border: 1px inset var(--primary-color);
    border-radius: 10px;
  }
  .text-container {
    flex-grow: 1;
    margin-left: 60px;
  }
  p {
    color: var(--secondary-grey);
  }
</style>
