---
import avatar from "../assets/Nicole_Tevez_Avatar.png";
import github from "../assets/github.png";
import linkedin from "../assets/linkedin.png";
import Label from "../layouts/Label.astro";
---

<section id="about-me" class="about section-margin">
  <div class="image-container">
    <img class="avatar" src={avatar.src} width="200px" height="200px" />
    <div class="contact">
      <a href="https://github.com/naniitevez" title="GitHub" target="_blank"
        ><img src={github.src} width="25px" height="25px" /></a
      >
      <a
        href="https://www.linkedin.com/in/nicoletevez/"
        title="LinkedIn"
        target="_blank"><img src={linkedin.src} width="25px" height="25px" /></a
      >
    </div>
  </div>
  <div class="text-container">
    <Label text="Sobre mi" />
    <p class="about-me">
      Hola, soy Nicky! Estudié la licenciatura de Psicología en la UBA, y en
      2020 decidí hacer un <span class="strong">cambio de rumbo</span>. Desde
      entonces, disfruto dándole vida a los distintos proyectos en los que he
      trabajado.
    </p>
    <p class="about-me">
      Formo parte de la organización de la comunidad <a
        href="https://reactbuenosaires.com.ar/">React en Buenos Aires</a
      >, donde mensualmente organizamos eventos de charlas de programación en
      colaboración con distintas empresas, para compartir <span class="strong"
        >conocimientos</span
      > y <span class="strong">experiencias</span> con toda la comunidad IT.
    </p>
    <p class="about-me">
      Cuento con aproximadamente <span class="strong">3 años</span> de experiencia
      desarrollando plataformas <span class="strong">ecommerce</span>. Mi
      objetivo es conseguir que las plataformas sean accesibles para todas las
      personas, tomando un enfoque en la <span class="strong"
        >accesibilidad</span
      > web.
    </p>
  </div>
</section>

<style>
  .about {
    display: flex;
  }
  .image-container,
  .text-container {
    flex-direction: column;
  }
  .image-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      var(--primary-black),
      var(--primary-darkest-color)
    );
    border: 1px solid var(--primary-darkest-color);
    border-radius: 50%;
  }
  .avatar {
    border-radius: 50%;
  }
  .about-me {
    font-size: 18px;
  }
  .strong {
    font-weight: 500;
    color: var(--primary-color);
  }
  .contact {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    padding: 6px 15px;
    background-image: linear-gradient(
      to right,
      var(--primary-black),
      var(--primary-darkest-color),
      var(--primary-color)
    );
    opacity: 0.9;
    border: 1px inset var(--primary-color);
    border-radius: 10px;
  }
  .text-container {
    flex-grow: 1;
    margin-left: 60px;
  }
  p {
    color: var(--secondary-grey);
  }
</style>
