---
import avatar from "../assets/Nicole_Tevez_Avatar.png";
import github from "../assets/github.svg";
import linkedin from "../assets/linkedin.svg";
import Label from "../layouts/Label.astro";
---

<section id="sobre-mi" class="about">
  <div class="image-container">
    <img class="avatar" src={avatar.src} width="200px" height="200px" />
    <div class="contact">
      <a href="https://github.com/naniitevez" title="GitHub" target="_blank"
        ><img src={github.src} width="34px" height="34px" /></a
      >
      <a
        href="https://www.linkedin.com/in/nicoletevez/"
        title="LinkedIn"
        target="_blank"><img src={linkedin.src} width="34px" height="34px" /></a
      >
    </div>
  </div>
  <div class="text-container">
    <div><Label text="Sobre mi" /></div>
    <p>
      Soy una desarrolladora frontend con cerca de 3 años de experiencia en la
      industria del comercio electrónico, especializada en el diseño y maquetado
      de interfaces de usuario. Mi formación dentro del campo ha sido
      autodidacta en su mayoría y el enfoque que he tomado se centra en crear
      experiencias visuales atractivas y funcionales para los usuarios. Estoy en
      busca de nuevos desafíos y experiencias que me permitan crecer
      profesionalmente a otro nive
    </p>
  </div>
</section>

<style>
  .about {
    display: flex;
    max-width: 900px;
    margin: 80px 0 90px;
  }
  .image-container,
  .text-container {
    flex-direction: column;
  }
  .image-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      var(--primary-black),
      var(--primary-darkest-color)
    );
    border: 1px solid var(--primary-darkest-color);
    border-radius: 50%;
  }
  .avatar {
    border-radius: 50%;
  }
  .contact,
  .text-container {
    display: flex;
    justify-content: space-between;
  }
  .contact {
    position: absolute;
    bottom: -40px;
    align-items: center;
    width: 90px;
    padding: 6px 15px;
    background-image: linear-gradient(
      to right,
      var(--primary-black),
      var(--primary-darkest-color),
      var(--primary-color)
    );
    opacity: 0.9;
    border: 1px inset var(--primary-color);
    border-radius: 10px;
  }
  .text-container {
    flex-grow: 1;
    margin-left: 60px;
  }
  p {
    color: var(--secondary-grey);
  }
</style>
