---
import logo from "../assets/nicole_tevez.png";
---

<section>
  <img src={logo.src} width="150px" />
  <p>nicole.tevez.97@gmail.com</p>
</section>

<style>
  section {
    border-top: 1px solid var(--darkest-grey);
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
  }
  p {
    color: var(--secondary-grey);
  }
</style>
