---

---

<header>
  <nav>
    <a href="/#about-me">Sobre mi</a>
    <a href="/#experience">Experiencia</a>
    <a href="/#projects">Proyectos</a>
    <a href="/#skills">Mis skills</a>
  </nav>
</header>

<style>
  header,
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    width: 100%;
    padding-top: 8px;
    position: relative;
  }
  nav {
    background: rgb(255 255 255 / 0.5);
    line-height: 20px;
    padding: 0 20px;
    border-radius: 10px;
  }
  a {
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
    color: var(--white);
  }
</style>
