---
import code_simbol_1 from "../../public/code_simbol_1.png";
import code_simbol_2 from "../../public/code_simbol_2.png";
import code_simbol_3 from "../../public/code_simbol_3.png";
import "@fontsource/bebas-neue";
import Label from "../layouts/Label.astro";
---

<section class="hero">
  <p class="name">
    <img class="icon" src={code_simbol_1.src} width="40px" height="50" />
    <span>Nicole</span>
    <img class="icon" src={code_simbol_2.src} width="30px" height="100px" />
    <span>Tevez</span>
    <img class="icon" src={code_simbol_3.src} width="40px" height="50" />
  </p>
  <h1 class="title">Frontend Developer</h1>
  <div class="labels">
    <Label text="Desarrolladora React" />
    <Label text="Co-Organizadora" />
    <Label text="Comunidad React" />
  </div>
</section>

<style>
  .hero {
    height: calc(100vh - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
  }
  .icon {
    margin: 0 10px;
  }
  .title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
  }
  .labels {
    display: flex;
    justify-content: space-between;
    width: 460px;
  }
</style>
