---
import Label from "../layouts/Label.astro";
import next from "../assets/icons/next.png";
import react from "../assets/icons/react.png";
import typescript from "../assets/icons/typescript.png";
import javascript from "../assets/icons/javascript.png";
import astro from "../assets/icons/astro.png";
import html from "../assets/icons/html.png";
import css from "../assets/icons/css.png";
import bootstrap from "../assets/icons/bootstrap.png";
import sass from "../assets/icons/sass.png";
import tailwind from "../assets/icons/tailwind.png";
import git from "../assets/icons/git.png";
import github from "../assets/github.png";
import ionic from "../assets/icons/ionic.png";

const icons = [
  { url: next.src, name: "next" },
  { url: react.src, name: "react" },
  { url: typescript.src, name: "typescript" },
  { url: javascript.src, name: "javascript" },
  { url: astro.src, name: "astro" },
  { url: html.src, name: "html" },
  { url: css.src, name: "css" },
  { url: bootstrap.src, name: "bootstrap" },
  { url: sass.src, name: "sass" },
  { url: tailwind.src, name: "tailwind" },
  { url: git.src, name: "git" },
  { url: github.src, name: "github" },
  { url: ionic.src, name: "ionic" },
];
---

<section id="skills" class="skills">
  <div class="label-container">
    <Label text="Skills" />
  </div>
  <div class="technologies-container flex-container">
    {
      icons.map((icon) => (
        <div class="icon">
          <img
            src={icon.url}
            width="50px"
            height="50px"
            alt={`Icono de ${icon.name}.`}
            title={icon.name}
          />
        </div>
      ))
    }
  </div>
</section>

<style>
  .skills {
    margin-bottom: 90px;
  }
  .technologies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .icon {
    margin: 0 8px;
  }
</style>
