---
interface Props {
  text: string;
  hash?: boolean;
}

const { text, hash } = Astro.props;
---

<div class=`label ${hash ? "tag" : ""}`>{hash && <span>#</span>}{text}</div>

<style>
  .label {
    font-size: 20px;
    margin-bottom: 40px;
    padding: 8px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .tag {
    font-size: 16px;
    padding: 8px;
  }
  span {
    color: #03ba5b;
  }
</style>
