---
interface Props {
  text: string;
  hash?: boolean;
}

const { text, hash } = Astro.props;
---

<div class="label">{hash && <span>#</span>}{text}</div>

<style>
  span {
    color: #03ba5b;
  }
</style>
