---
interface Props {
  title: string;
}

// Supports weights 100-900
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="description"
      content="Frontend developer con 3 años de experiencia en el desarrollo de webs con React."
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="portfolio, frontend developer, web development, design, projects, react developer, javascript developer"
    />
    <meta name="author" content="Nicole Tevez" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Nicole Tevez | Portfolio" />
    <meta
      property="og:description"
      content="Frontend developer con 3 años de experiencia en el desarrollo de webs con React."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://naniitevez.github.io/" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="dot"></div>
      <Header />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    /* color-scheme: ligth dark; */
    --primary-color: #03ba5b;
    --primary-darkest-color: #145935;
    --primary-black: #161616;
    --secondary-black: #181818;
    --grey: #282828;
    --darkest-grey: #3a3a3a;
    --secondary-grey: #a5a5a5;
    --white: #edeeee;
  }
  html {
    font-family: "Onest Variable", sans-serif;
  }
  body {
    background: var(--primary-black);
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dot {
    position: absolute;
    margin-top: -400px;
    width: 800px;
    height: 700px;
    background: radial-gradient(
      circle,
      #03ba5b -60%,
      rgba(255, 0, 0, 0) 70%,
      rgba(255, 225, 225, 0) 30%
    );
  }
  section {
    max-width: 900px;
    width: 100%;
  }
  .section-margin {
    margin: 80px 0 90px;
  }
  .label-container {
    margin: 0 auto 70px;
    width: fit-content;
  }
  .label {
    width: fit-content;
    background: var(--grey);
    color: var(--secondary-grey);
    border-radius: 10px;
    font-size: 14px;
  }
  @media (max-width: 900px) {
    .flex-container {
      padding: 0 60px;
    }
    .dot {
      width: 550px;
    }
  }
  @media (max-width: 768px) {
    .flex-container {
      padding: 0 30px;
    }
  }
  @media (max-width: 580px) {
    .dot {
      width: 300px;
      height: 500px;
      margin-top: -200px;
      background: radial-gradient(
        circle,
        #03ba5b -60%,
        rgba(255, 0, 0, 0) 50%,
        rgba(255, 225, 225, 0) 30%
      );
    }
    .section-margin {
      margin: 40px 0 50px;
    }
  }
</style>
